*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 25px;
}

h2 {
  padding: 40px 0 20px 0;
}

h4 {
  color: white;
  font-size: 20px;
}

p {
  font-size: 17px;
  font-weight: 300;
}

.font-logo {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
}

.header {
  text-align: center;
  padding: 15px;
}
.header__img {
  width: 170px;
}
.header__return {
  color: #000000;
  font-size: 25px;
  position: absolute;
  top: 20px;
}

.footer {
  background-color: #353535;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.footer__title {
  padding: 20px 0 10px 0;
}
.footer__nav {
  display: flex;
  flex-direction: column;
}
.footer a {
  color: white;
  line-height: 25px;
}
.footer a:hover {
  color: #FF79DA;
}
.footer__icon {
  font-size: 12px;
  width: 25px;
}

@media all and (min-width: 1024px) {
  .footer {
    flex-direction: row;
  }
  .footer__nav {
    width: 85%;
    flex-direction: row;
    justify-content: space-around;
  }
}
.search {
  background-color: #EAEAEA;
}
.search__content {
  justify-content: center;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
}
.search__icon {
  padding-right: 15px;
}

.description {
  background-color: #F7F7F7;
  padding: 50px 0;
}
.description__element {
  text-align: center;
  padding-bottom: 10px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: preload 3000ms forwards;
}
.preloader h1 {
  font-size: 3.5rem;
  font-family: "Shrikhand", sans-serif;
  color: #353535;
}

.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before, .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FF79DA;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #9356DC;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%, 100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
@keyframes preload {
  0%, 99% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(9999px);
  }
}
.btn {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  display: block;
  margin: auto;
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  background: -webkit-linear-gradient(210deg, #9356DC, #FF79DA);
  box-shadow: 4px 4px 7px #d3d1d1;
  cursor: pointer;
  transition: all 1000ms;
  opacity: 1;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 10px 10px 10px #919191;
}

.restaurant {
  background-color: #F7F7F7;
}
.restaurant__card {
  position: relative;
  width: 450px;
  height: 280px;
  margin: auto;
  border-radius: 25px;
  box-shadow: 4px 4px 7px #d3d1d1;
  margin-bottom: 25px;
}
.restaurant__card--img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.restaurant__card--content {
  justify-content: space-between;
  padding: 8px 15px;
  color: #000000;
  line-height: 23px;
}

.new {
  position: absolute;
  top: 20px;
  right: 20px;
}
.new--txt {
  background-color: #99E2D0;
  color: #2b987d;
  font-size: 18px;
  font-weight: 700;
  padding: 7px 14px;
}

@media all and (min-width: 768px) {
  .restaurant__card {
    width: 45%;
  }
}
.filter__restaurant {
  position: relative;
  width: 350px;
  margin: auto;
  background-color: #F7F7F7;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 4px 4px 7px #d3d1d1;
}
.filter__restaurant--number {
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  padding-top: 2px;
}
.filter__restaurant--number-block {
  position: absolute;
  top: 26px;
  margin-left: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #9356DC;
}
.filter__restaurant--icon {
  position: absolute;
  top: 26px;
  padding-left: 35px;
  width: 80px;
  font-size: 24px;
  color: #7a7a7a;
}
.filter__restaurant--txt {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  top: 26px;
  left: 80px;
  color: #000000;
}
.filter__restaurant:hover {
  background-color: #e4d5f6;
}
.filter__restaurant:hover i {
  color: #9356DC;
}
.filter--number-block {
  width: 25px;
  height: 25px;
  background-color: #9356DC;
}

.menu {
  background-color: #F7F7F7;
  position: relative;
  top: -45px;
  margin-bottom: -45px;
  border-radius: 40px 40px 0 0;
  padding-bottom: 45px;
}
.menu__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.menu__title {
  justify-content: space-between;
  padding-top: 20px;
  font-size: 27px;
}
.menu__subtitle h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}
.menu__card {
  background-color: #ffffff;
  color: #000000;
  width: 400px;
  height: 70px;
  border-radius: 15px;
  box-shadow: 4px 4px 7px #d3d1d1;
  padding-left: 15px;
  line-height: 25px;
  margin: auto;
  margin-bottom: 15px;
  justify-content: space-between;
  opacity: 0;
  cursor: pointer;
  animation: transition 1000ms ease-in-out forwards;
}
.menu__card--1 {
  animation-delay: 300ms;
}
.menu__card--2 {
  animation-delay: 600ms;
}
.menu__card--3 {
  animation-delay: 900ms;
}
.menu__card--4 {
  animation-delay: 1200ms;
}
.menu__card--5 {
  animation-delay: 1500ms;
}
.menu__card--6 {
  animation-delay: 1800ms;
}
.menu__card--7 {
  animation-delay: 2100ms;
}
.menu__card--8 {
  animation-delay: 2400ms;
}
.menu__card--9 {
  animation-delay: 2700ms;
}
.menu__card--10 {
  animation-delay: 3000ms;
}
.menu__card--11 {
  animation-delay: 3300ms;
}
.menu__card--12 {
  animation-delay: 3600ms;
}
.menu__card--detail {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card--price {
  font-weight: 700;
  padding-top: 20px;
}
.menu__card--animation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 0px;
  height: 100%;
  background-color: #99E2D0;
  color: #ffffff;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  transition: width 1000ms ease-in-out;
}

.menu__card:hover .menu__card--animation {
  animation: appearance 1s ease-in-out forwards;
  width: 60px;
}

.menu__card:hover .icon--rotate {
  animation: rotate 800ms ease-in-out 300ms reverse;
}

.menu__subtitle--underline {
  border-bottom: 3px #99E2D0 solid;
  padding-bottom: 5px;
}

.menu__heart--icon {
  position: absolute;
  opacity: 1;
  right: 40px;
  top: 25px;
}
.menu__heart--icon:active {
  opacity: 0;
}

.menu__heart--animation {
  position: absolute;
  opacity: 0;
  right: 40px;
  top: 25px;
  background: -webkit-linear-gradient(210deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0;
}
.menu__heart--animation:active {
  opacity: 1;
}

.menu__btn {
  width: 200px;
}

@media all and (min-width: 768px) {
  .menu__card {
    width: 45%;
  }
}
@media all and (min-width: 1024px) {
  .menu__card {
    width: 32%;
  }
}
@keyframes transition {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rotate {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.heart {
  font-size: 25px;
  cursor: pointer;
}
.heart--icon {
  position: absolute;
  opacity: 1;
  right: 25px;
  bottom: 25px;
}
.heart--icon:active {
  opacity: 0;
}
.heart--animation {
  position: absolute;
  opacity: 0;
  right: 25px;
  bottom: 25px;
  background: -webkit-linear-gradient(210deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0;
  transition: opacity 300ms;
}
.heart--animation:active {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
