*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 25px;
}

h2 {
  padding: 40px 0 20px 0;
}

h4 {
  color: white;
  font-size: 20px;
}

p {
  font-size: 17px;
}

.font-logo {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
}

.header {
  text-align: center;
  padding: 15px;
}
.header__img {
  width: 170px;
}
.header__return {
  color: #000000;
  font-size: 25px;
  position: absolute;
  top: 20px;
}

.footer {
  background-color: #353535;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__title {
  padding: 20px 0 10px 0;
}
.footer__nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer a {
  color: white;
  line-height: 25px;
}
.footer a:hover {
  color: #99E2D0;
}
.footer__icon {
  font-size: 12px;
  width: 25px;
}
.footer__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    align-items: center;
  }
  .footer__nav {
    width: 85%;
    flex-direction: row;
    justify-content: space-around;
  }
}
.search {
  background-color: #EAEAEA;
}
.search__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
}
.search__icon {
  padding-right: 15px;
}

.description {
  background-color: #F7F7F7;
  padding: 50px 0;
}
.description__element {
  text-align: center;
  padding-bottom: 10px;
}
.description p {
  font-weight: 300;
}

.loader {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  animation: load 3s ease-in-out forwards;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.loader__animation {
  width: 100px;
  height: 100px;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #000000;
  border-radius: 50%;
  animation: loading 3s;
}
.loader h1 {
  font-size: 3.5rem;
  font-family: "Shrikhand", sans-serif;
  color: #353535;
  padding-bottom: 25px;
}

@keyframes loading {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(750deg);
  }
}
@keyframes load {
  0% {
    transform: scale(1);
    opacity: 0.96;
  }
  80% {
    opacity: 0.96;
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.btn {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  display: block;
  margin: auto;
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  background: -webkit-linear-gradient(210deg, #9356DC, #FF79DA);
  box-shadow: 4px 4px 7px #d3d1d1;
  cursor: pointer;
  transition: all 1000ms;
  opacity: 1;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 10px 10px 10px #919191;
}

.restaurant {
  background-color: #F7F7F7;
}
.restaurant__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.restaurant__card {
  position: relative;
  width: 450px;
  height: 280px;
  margin: auto;
  border-radius: 25px;
  box-shadow: 4px 4px 7px #d3d1d1;
  margin-bottom: 25px;
}
.restaurant__card--img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.restaurant__card--content {
  justify-content: space-between;
  padding: 8px 15px;
  color: #000000;
  line-height: 23px;
}
.restaurant__card p {
  font-weight: 300;
}

.new {
  position: absolute;
  top: 20px;
  right: 20px;
}
.new--txt {
  background-color: #99E2D0;
  color: #2b987d;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
}

@media all and (min-width: 768px) {
  .restaurant__card {
    width: 45%;
  }
}
.filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
}
.filter__restaurant {
  position: relative;
  width: 350px;
  background-color: #F7F7F7;
  height: 80px;
  margin: 0px 10px 20px 10px;
  border-radius: 25px;
  box-shadow: 4px 4px 7px #d3d1d1;
}
.filter__restaurant--number-block {
  position: absolute;
  top: 26px;
  margin-left: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #9356DC;
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.filter__restaurant--icon {
  position: absolute;
  top: 26px;
  padding-left: 35px;
  width: 80px;
  font-size: 24px;
  color: #7a7a7a;
}
.filter__restaurant--txt {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  top: 26px;
  left: 80px;
  color: #000000;
}
.filter__restaurant:hover {
  background-color: #e4d5f6;
}
.filter__restaurant:hover i {
  color: #9356DC;
}

.menu {
  background-color: #F7F7F7;
  position: relative;
  top: -45px;
  margin-bottom: -45px;
  border-radius: 40px 40px 0 0;
  padding-bottom: 45px;
}
.menu__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.menu__title {
  padding-top: 20px;
  font-size: 27px;
}
.menu__subtitle h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}
.menu__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.menu__card {
  background-color: #ffffff;
  position: relative;
  display: flex;
  color: #000000;
  max-width: 380px;
  height: 70px;
  border-radius: 15px;
  margin-right: 20px;
  margin-top: 10px;
  width: 100%;
  box-shadow: 4px 4px 7px #d3d1d1;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  animation: transition 1000ms ease-in-out both;
}
.menu__card--1 {
  animation-delay: 300ms;
}
.menu__card--2 {
  animation-delay: 600ms;
}
.menu__card--3 {
  animation-delay: 900ms;
}
.menu__card--4 {
  animation-delay: 1200ms;
}
.menu__card--5 {
  animation-delay: 1500ms;
}
.menu__card--6 {
  animation-delay: 1800ms;
}
.menu__card--7 {
  animation-delay: 2100ms;
}
.menu__card--8 {
  animation-delay: 2400ms;
}
.menu__card--9 {
  animation-delay: 2700ms;
}
.menu__card--10 {
  animation-delay: 3000ms;
}
.menu__card--11 {
  animation-delay: 3300ms;
}
.menu__card--12 {
  animation-delay: 3600ms;
}
.menu__card--detail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  margin: 10px 0 12px 10px;
}
.menu__card--detail p {
  font-size: 16px;
  font-weight: 300;
}
.menu__card--price {
  margin-bottom: 12px;
  width: 50px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  transition: transform 700ms;
}
.menu__card--animation {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 65px;
  height: 100%;
  background-color: #99E2D0;
  color: #ffffff;
  border-radius: 0 15px 15px 0;
  opacity: 1;
  transform: translateX(65px);
  transition: transform 700ms;
}

.narrow {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 700ms;
}

.menu__card:hover > .menu__card--price {
  transform: translateX(-65px);
}

.menu__card:hover > .menu__card--animation {
  transform: translateX(0px);
}

.menu__card:hover .narrow {
  width: 235px;
}

.menu__card:hover .icon--rotate {
  animation: rotate 800ms ease-in-out reverse;
}

.menu__subtitle--underline {
  border-bottom: 3px #99E2D0 solid;
  padding-bottom: 5px;
}

.menu__heart--icon {
  position: absolute;
  opacity: 1;
  right: 50px;
  top: 25px;
}

.menu__heart--animation {
  position: absolute;
  opacity: 0;
  right: 50px;
  top: 25px;
  background: -webkit-linear-gradient(210deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0;
}
.menu__heart--animation:active {
  opacity: 1;
}

.menu__btn {
  width: 200px;
  margin-top: 40px;
}

@keyframes transition {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.heart {
  font-size: 25px;
  cursor: pointer;
}
.heart--icon {
  position: absolute;
  opacity: 1;
  right: 25px;
  bottom: 25px;
}
.heart--animation {
  position: absolute;
  opacity: 0;
  right: 25px;
  bottom: 25px;
  background: -webkit-linear-gradient(210deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0;
  transition: opacity 300ms;
}
.heart--animation:active {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
