.btn{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    display: block;
    margin: auto;
    padding: 15px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    background: $background-linear;
    box-shadow: $shadow-primary;
    cursor: pointer;
    transition: all 1000ms;
    opacity: 1;
    &:hover{
        opacity: 0.7;
        box-shadow: $shadow-hover;
    }
}
