.heart{
    font-size: 25px;
    cursor: pointer;
    &--icon{
        position: absolute;
        opacity: 1;
        right: 25px;
        bottom: 25px;
        &:active{
            opacity: 0;
        }
    }
    &--animation{
        position: absolute;
        opacity: 0;
        right: 25px;
        bottom: 25px;
        background: $background-linear;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0;
        transition: opacity 400ms;
        &:active{
            opacity: 1;
        }
    }
}