.search{
    background-color: $background-dark;
    &__content{
        justify-content: center;
        padding: 12px;
    }
    &__icon{
        padding-right: 15px;
    }
}

.description{
    background-color: $background-light;
    padding-bottom: 50px;
    &__element{
        text-align: center;
        padding-bottom: 15px;
        &--txt{
            font-weight: 300;
        }
    }
}

.functioning{
    padding-bottom: 50px;
    &__step{
        background-color: $background-light;
        
        &:hover{
            background-color: #9356dc;
            i{
                color: $color-primary;
            }
        }
    }
}



