// Variable de couleurs 

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-light: #F7F7F7;
$background-dark: #EAEAEA;
$background-linear: -webkit-linear-gradient(210deg, $color-primary, $color-secondary);
$lighten-color-primary: lighten($color-primary,30%);
$darken-color-tertiary: darken($color-tertiary,36%);

// Variable box-shadows

$shadow-primary: 4px 4px 7px #d3d1d1;
$shadow-hover: 10px 10px 10px #616161;
