.footer{
    background-color: #353535;
    padding: 0 0 20px 20px;
    @include flexible(flex, column, nowrap, flex-start, flex-start);
    &__title{
        padding: 20px 0 10px 0;
    }
    &__nav{
        @include flexible(flex, column, nowrap, flex-start, flex-start);
    }
    a{
        color: white;
        line-height: 25px;
        &:hover{
            color: $color-tertiary;
        }
    }
    &__icon{
        font-size: 12px;
        width: 25px;
    }
    &__list{
        @include flexible;
    }
   }

//  @media all and (min-width: $large){
//      .footer{
//         flex-direction: row;
//         align-items: center;
//         &__nav{
//             width: 85%;
//             flex-direction: row;
//             justify-content: space-around;
//         }
//      }
// }
