.footer{
    background-color: #353535;
    &__title{
        padding: 10px 0;
    }
    a{
        color: white;
        font-size: 14px;
        line-height: 22px;
    }
    &__icon{
        font-size: 12px;
        width: 25px;
    }
   }

